<h1>Search</h1>
<p>
    <input type="text" #newquery>
    <button (click)="submit(newquery)">Search</button>
  </p>
  <!--Non ritorna un file json e a causa di questo non ritorna Errore nella pagina HTML -->
  <div *ngIf="items">
    <div *ngIf="!items.results|| items.results.length ==0">
      Errore
    </div>
  
    <div *ngIf="items.results &&  items.results.length > 0">
        <div class="row">
            <div class="col-sm-6 col-md-3" *ngFor="let i of items.results">

                    <h3>
                      <a [routerLink]="['/item', i.uid]">
                        {{i.name}}
                      </a>
                    </h3>        
                


      {{items|json}}
    </div>
  </div>
